@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Global styles */
body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

body::after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 100vw;
  background: url('/mountains.svg') bottom center no-repeat;
  background-size: cover;
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
}

main {
  background-color: #1a1a1a; /* off black */
  color: #ffffff; /* readable text */
  min-height: 100vh; /* full viewport height */
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space between columns */
}

@media (max-width: 640px) {
  main {
    padding: 1rem;
  }
}